{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <h1>Home</h1>
    <p>Welcome to the home page</p>
    <p>You are logged in as {{ user.username }}</p>
    <p>You can go to protected page <a href="{% url 'protected' %}">here</a></p>
    <form method="post" action="{% url 'logout' %}">    
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
